models/config.py
test/
models/data/RecipeData.csv
config.py
models/test.ipynb
models/231129.ipynb
models/231129_SVD.ipynb
models/231129.ipynb
models/func_process_009.ipynb
models/import_func_009.ipynb
models/recipe_step_009.ipynb
models/009_not_upload.ipynb
models/OCR_009.ipynb
models/test_svd.ipynb
models/test_steps.ipynb
models/recipe.csv
models/recipe_ingredient.csv
models/recipe_pre.csv
models/now_009.ipynb
models/matrix/ingred__10000.csv
models/matrix/nutri__10000.csv
models/RecipeData (1).csv
models/merge_df.ipynb
models/unit_count.csv
models/unit.csv
models/final_recipe.csv
models/final_hj/merge_df.ipynb
models/final_hj/unit_count.csv
models/final_hj/unit.csv
